@charset "UTF-8"

body{
  margin: 0;
}

html{
  margin: 0;
  padding: 0;
}
 

/* トップへ戻る */

#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#page_top a {
    background-color: transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid black;
  }
#page_top a:hover {
    background-color:transparent;
    text-decoration: none;
}


/* #######599px以下######### */
@media(max-width:599px){ 

#wrapper{
  width:100%;
  overflow: hidden;
}

header{
background-color: white;
margin-top: 0;
}

/*Less Makes Freedom.  */

.topword{
  font-size: 15px;
  color:darkgrey;
  max-width: auto;
margin: 0 auto;
padding: 0 4%;
margin-top: 15px;
height: 100px;

}
/* Less Makes Freedomの色 */

nobr{
color: darkgray;
}


/* トグルボタン */
#menubtn{
padding:  6px 12px;
border:solid 1px #aaaaaa;
border-radius: 5px;
background-color: #fff;
position: absolute;
top:20px;
right: 35px;
cursor: pointer;
}

#menubtn:hover{
  background-color: #ddd;
}

#menubtn i{
  color: #888888;
font-size: 18px;
}

#menubtn span{
  display: inline-block;
  text-indent: -9999px;
}

#menubtn:focus{
  outline:none
}

#menu{
  display: none;
  position: absolute;
top:60px;
right: 15px;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a{
  display: block;
  padding: 5px;
  color: gray;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover{
 background-color: #eeeeee;
}

/* トップ */

.container{
padding:0 15px;
margin: 0 auto;

}

.top-wrapper{
  /* /padding: 90px 100px 90px 0;  */
  color: #000000;
text-align: center;
height: 400px;
margin-top: 50px;
}

h1{
  margin-bottom: 0;
  display: none;
font-weight: 100;
}

.top-wrapper p{
  margin-top: 40px;
  color: darkgray;
  display: none;
  
}

/* アバウト */

.grim{
  display: grid;
 gap:20px;
 margin-top: 0%;
 margin-bottom: 0%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}


.servs{
  border-radius: 50%;
  width: 60%;
}

h5{
  font-weight: 300;
}

h6{
  text-align: center;
  font-size: 20px;
  font-weight: 100;
margin-bottom: -20px;
}

hr{
  width: 80%;
}


h3{
  width: 80%;
  font-family:'Open Sans', sans-serif;
  border-bottom:1px black solid;
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
  }


.profileword p{
  font-size: 15px;
  text-align: left;
  padding-top: 10px;
  width: 250px;
  margin-left:  auto;
  margin-right:  auto;
}

/* スキル */

  .skill h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    padding: 100px 0 ;
    font-weight: 100;
   
  }

  .grid{
    display: grid;
   gap:10px;
   grid-template-columns: repeat(2,1fr);
   margin-top: 0%;
   margin-bottom: 0%;
   text-align: center;
  }

.skills{
    width: 100px;
  }

  /* ポートフォリオ */
  .portfolio h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 100px 0 ;
   
  }

  .grids{
    display: grid;
   gap: 26px;
   grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
      margin-top: 6%;
   margin-bottom: 50px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
  }

  .port{
    width: 80%;
  }

/* サービス */

.service h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
  font-weight: 100;
 
}

.item h5{
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.service{
  background: white;
}

.itemword p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 



.serv{
  border-radius: 50%;
width: 100px;
}



.p{
  text-align: left;

}

.service h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
 
}

.grided{
  /* display: grid; */
 gap:20px;
 grid-template-columns: repeat(auto-fit,minmax(240px,0fr));
 margin-top: 0%;
 margin-bottom: 0%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.contact h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
  font-weight: 100;
 
}

.contact{
  background: #f9f9f9;
}

/* フォーム */
form div{
  margin-bottom: 14px;
}

label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;}

input[type="text"],
input[type="email"],
textarea{
  background: rgba(255, 255, 255, .5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"],
input[type="email"]{
  width: 80%;
}

textarea{
  width: 80%;
  height:6rem;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}

.button{
  background-color: skyblue;
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
    border-radius: 5px;
  color: #fff;
}
.button:hover{
  opacity: 0.5;
}

footer{
  background-color: #696969;
  height: 100px;
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

footer p{
  padding-top: 40px;
}

} 


/* #######600px以上〜767px######### */
@media(min-width:600px) {

#wrapper{
  width: 100%;
  overflow: hidden;
}

header{
background-color: white;
margin-top: 0;
}

/*Less Makes Freedom.  */

.topword{
  font-size: 15px;
  max-width: 767px;
  color:darkgrey;
margin: 0 auto;
padding: 0 4%;
margin-top: 15px;
height: 100px;

}
/* Less Makes Freedomの色 */

nobr{
color: darkgray;
}


/* トグルボタン */
#menubtn{
padding:  6px 12px;
border:solid 1px #aaaaaa;
border-radius: 5px;
background-color: #fff;
position: absolute;
top:20px;
right: 35px;
cursor: pointer;
}

#menubtn:hover{
  background-color: #ddd;
}

#menubtn i{
  color: #888888;
font-size: 18px;
}

#menubtn span{
  display: inline-block;
  text-indent: -9999px;
}

#menubtn:focus{
  outline:none
}

#menu{
  display: none;
  position: absolute;
top:60px;
right: 15px;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a{
  display: block;
  padding: 5px;
  color: gray;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover{
 background-color: #eeeeee;
}

/* トップ */

.container{
padding:0 15px;
margin: 0 auto;

}

.top-wrapper{
  padding: 180px 0 100px 0;
  color: #000000;
text-align: center;
height: 300px;
}

h1{
  margin-bottom: 0;
  display: none;
font-weight: 100;
}

.top-wrapper p{
  margin-top: 40px;
  color: darkgray;
  display: none;
  
}

/* アバウト */

.grim{
  /* display: grid; */
 gap:20px;
 margin-top: 0%;
 margin-bottom: 0%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

h5{
  font-weight: 300;
}

h6{
  text-align: center;
  font-size: 20px;
  font-weight: 100;
margin-bottom: -20px;
}

hr{
  width: 500px;
}


h3{
  width: 300px;
  font-family:'Open Sans', sans-serif;
  border-bottom:1px black solid;
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
  }


.profileword p{
  text-align: left;
  width: 400px;
  margin: 0 auto;
}

/* スキル */

  .skill h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    padding: 100px 0 ;
    font-weight: 100;
   
  }

  .grid{
    display: grid;
   gap:10px;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 0%;
   margin-bottom: 0%;
   text-align: center;
   /* width: 80%; */
   
  }

.skills{
    width: 80%;
  }

  /* ポートフォリオ */
  .portfolio h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    padding: 100px 0 ;
   
  }

  .grids{
    /* display: grid; */
   gap:10px;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 0%;
   margin-bottom: 0%;
   text-align: center;

  }

  .port{
    width: 400px;
  }

/* サービス */

.service h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
  font-weight: 100;
 
}

.item h5{
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.service{
  background: white;
}

.itemword p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 


.servs{
  border-radius: 50%;
width: 300px;
}


.serv{
  border-radius: 50%;
  width: 100px;
}

.p{
  text-align: left;
}

.service h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
 
}

.grided{
  /* display: grid; */
 gap:20px;
 grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
 margin-top: 0%;
 margin-bottom: 0%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.contact h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
  font-weight: 100;
 
}

.contact{
  background: #f9f9f9;
}

/* フォーム */
form div{
  margin-bottom: 14px;
}

label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
  margin-left: 40px;
}

input[type="text"],
input[type="email"],
textarea{
  background: rgba(255, 255, 255, .5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin-left: 40px;
}

input[type="text"],
input[type="email"]{
  width: 80%;
}

textarea{
  width: 80%;
  height:6rem;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}

.button{
  background-color: skyblue;
  width: 80%;
  height: 50px;
  margin-left: 40px;
  border-radius: 5px;
  color: #fff;
}
.button:hover{
  opacity: 0.5;
}

footer{
  background-color: #696969;
  height: 100px;
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

footer p{
  padding-top: 40px;
}


 
}  



/* #######768px以上######### */
@media (min-width:768px) {
 
#wrapper{
  width: 100%;
  overflow: hidden;
}

header{
background-color: white;
margin-top: 0;
}

/*Less Makes Freedom.  */

.topword{
  font-size: 15px;
  max-width: 1024px;
  color:darkgrey;
margin: 0 auto;
padding: 0 4%;
margin-top: 15px;
height: 100px;

}
/* Less Makes Freedomの色 */

nobr{
color: darkgray;
}


/* トグルボタン */
#menubtn{
padding:  6px 12px;
border:solid 1px #aaaaaa;
border-radius: 5px;
background-color: #fff;
position: absolute;
top:20px;
right: 35px;
cursor: pointer;
}

#menubtn:hover{
  background-color: #ddd;
}

#menubtn i{
  color: #888888;
font-size: 18px;
}

#menubtn span{
  display: inline-block;
  text-indent: -9999px;
}

#menubtn:focus{
  outline:none
}

#menu{
  display: none;
  position: absolute;
top:60px;
right: 15px;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a{
  display: block;
  padding: 5px;
  color: gray;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover{
 background-color: #eeeeee;
}

/* トップ */

.container{
width: 100%;
padding:0 15px;
margin: 0 auto;

}

.top-wrapper{
  padding: 180px 0 100px 0;
  color: #000000;
height: 300px;
}

h1{
  margin-bottom: 0;
  display: none;
font-weight: 100;
}

.top-wrapper p{
  margin-top: 40px;
  color: darkgray;
  display: none;
  
}

/* アバウト */

.grim{
  display: grid;
 gap:20px;
 margin-top: 0%;
 margin-bottom: 0%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

h5{
  font-weight: 300;
}

h6{
  text-align: center;
  font-size: 20px;
  font-weight: 100;
margin-bottom: -20px;
}

hr{
  width: 500px;
}


h3{
  width: 300px;
  font-family:'Open Sans', sans-serif;
  border-bottom:1px black solid;
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
  }


.profileword p{
  text-align: left;
  width: 400px;
  margin: 0 auto;
}

/* スキル */

  .skill h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    padding: 100px 0 ;
    font-weight: 100;
   
  }

  .grid{
    display: grid;
   gap:10px;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 0%;
   margin-bottom: 0%;
   text-align: center;
  }

.skills{
    width: 100px;
  }

  /* ポートフォリオ */
  .portfolio h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    padding: 100px 0 ;
   
  }

  .grids{
    display: grid;
   gap:10px;
   grid-template-columns: repeat(2,1fr);
   margin-top: 0%;
   margin-bottom: 0%;
   text-align: center;

  }

  .port{
    width: 400px;
  }

/* サービス */

.service h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
  font-weight: 100;
 
}

.item h5{
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.service{
  background: white;
}



.servs{
  border-radius: 50%;
}


.serv{
  border-radius: 50%;
  width: 80%;
  width: 100px;
}

.p{
  text-align: left;

}

.service h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
 
}

.grided{
  display: grid;
 gap:20px;
 grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
 margin-top: 0%;
 margin-bottom: 0%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 wi
}

.contact h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
  font-weight: 100;
 
}
.contact{
  background: #f9f9f9;
}

.itemword p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 

/* フォーム */
form div{
  margin-bottom: 14px;
}

label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
  margin-left: 100px;
}

input[type="text"],
input[type="email"],
textarea{
  background: rgba(255, 255, 255, .5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin-left: 100px;
}

input[type="text"],
input[type="email"]{
  width: 100%;
  max-width: 240px;
}

textarea{
  width: 100%;
  max-width: 480px;
  height:6rem;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}

.button{
  background-color: skyblue;
  width: 200px;
  height: 50px;
  margin-left: 100px;
  border-radius: 5px;
  color: #fff;
}
.button:hover{
  opacity: 0.5;
}

footer{
  background-color: #696969;
  height: 100px;
  text-align: center;
  margin-top: 50px;
 
}

footer p{
  padding-top: 40px;
  color: #fff;
}

} */



/* #######1042px以上######### */
@media (min-width:1042px) {

/* 全体の横幅を固定 */
 
#wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;}


header{
background-color: white;
margin-top: 0;
}

/*Less Makes Freedom.  */

.topword{
  font-size: 15px;
  max-width: 1024px;
  color:darkgrey;
margin: 0 auto;
padding: 0 4%;
margin-top: 15px;
height: 100px;

}
/* Less Makes Freedomの色 */

nobr{
color: darkgray;
}


/* トグルボタン */
#menubtn{
padding:  6px 12px;
border:solid 1px #aaaaaa;
border-radius: 5px;
background-color: #fff;
position: absolute;
top:20px;
right: 35px;
cursor: pointer;
}

#menubtn:hover{
  background-color: #ddd;
}

#menubtn i{
  color: #888888;
font-size: 18px;
}

#menubtn span{
  display: inline-block;
  text-indent: -9999px;
}

#menubtn:focus{
  outline:none
}

#menu{
  display: none;
  position: absolute;
top:60px;
right: 15px;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a{
  display: block;
  padding: 5px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover{
 background-color: #eeeeee;
}

/* トップ */

.container{
width: 100%;
padding:0 15px;
margin: 0 auto;

}

.top-wrapper{
  padding: 180px 0 100px 0;
  color: #000000;
text-align: center;
height: 300px;
}

h1{
  margin-bottom: 0;
  display: none;
font-weight: 100;
}

.top-wrapper p{
  margin-top: 40px;
  color: darkgray;
  display: none;
  
}

/* アバウト */

.grim{
  display: grid;
 gap:20px;
 margin-top: 0%;
 margin-bottom: 0%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

h5{
  font-weight: 300;
}

h6{
  text-align: center;
  font-size: 20px;
  font-weight: 100;
margin-bottom: -20px;
}

hr{
  width: 500px;
}


h3{
  width: 300px;
  font-family:'Open Sans', sans-serif;
  border-bottom:1px black solid;
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
  }


  .itemword p{
    text-align: left;
    width: 30%;
    margin: 0 auto;
  }

/* スキル */

  .skill h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    padding: 100px 0 ;
    font-weight: 100;
   
  }

  .grid{
    display: grid;
   gap:10px;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 0%;
   margin-bottom: 0%;
   text-align: center;
  }

.skills{
    width: 100px;
  }

  /* ポートフォリオ */
  .portfolio h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    padding: 100px 0 ;
   
  }

  .grids{
    display: grid;
   gap:10px;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 0%;
   margin-bottom: 0%;
   text-align: center;

  }

  .port{
    width: 400px;
  }

/* サービス */

.service h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
  font-weight: 100;
 
}

.item h5{
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.service{
  background: white;
}



.servs{
  border-radius: 50%;
width: 300px;
}


.serv{
  border-radius: 50%;
  width: 200px;
}

.p{
  text-align: left;

}

.service h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
 
}

.grided{
  display: grid;
 gap:10px;
 grid-template-columns: 1fr 1fr 1fr;
 margin-top: 0%;
 margin-bottom: 0%;
 /* text-align: center; */
 margin-left: 30px;
 margin-right: 30px;
}

.contact h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
  font-weight: 100;
 
}

.contact{
  background: #f9f9f9;
}

/* フォーム */
form div{
  margin-bottom: 14px;
}

label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
  margin-left: 100px;
}

input[type="text"],
input[type="email"],
textarea{
  background: rgba(255, 255, 255, .5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin-left: 100px;
}

input[type="text"],
input[type="email"]{
  width: 100%;
  max-width: 240px;
}

textarea{
  width: 100%;
  max-width: 480px;
  height:6rem;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}

.button{
  background-color: skyblue;
  width: 200px;
  height: 50px;
  margin-left: 100px;
  border-radius: 5px;
  color: #fff;
}
.button:hover{
  opacity: 0.5;
}

footer{
  background-color: #696969;
  height: 100px;
  text-align: center;
  margin-top: 50px;
  color: #fff;
 
}

footer p{
  padding-top: 40px;
  
}



}