#wrapper{
  width: 100%;
  overflow: hidden;
}

body{
  background-color: #f9f9f9;
  margin-top: 0;
  /* max-width: 1100px; */
}

header{
background-color: white;
margin-top: 0 auto;
}

.topword{
  font-size: 8px;
  max-width: 1000px;
  color:darkgrey;
display: flex;
justify-content: space-between;
margin: 0 auto;
padding: 0 4%;
margin-top: 5px;
width: 100%;
}


ul{
  list-style: none;
  display: flex;
}

li{
  margin-left: 36px;
}

li a{
  text-decoration: none;
  color: darkgrey;
}

.toppage{
text-align: center;
font-family: 'Jost', sans-serif;
font-size: 20px;
padding:180px 0 100px 0;
height: 280px;
width: 100%;
/* background-color: white; */
}

h1{
  display: none;
  margin-bottom: 0;
}

.toppage p{
  margin-top: 0;
  color: darkgray;
}


.profimage{
display: flex;
justify-content: space-between;

}

.about h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  padding: 100px 0 ;
 
}

.profile{
  border-radius: 50%;
width: 250px;
height: 250px;
/* margin-left: 200px; */
}

.profimage{
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20%;
margin-left: ;

}
h3{
  width: 300px;
  font-family:'Open Sans', sans-serif;
  border-bottom:1px black solid;
  text-align: center;
  padding-bottom: 10px;
  }

  .word{
    margin-left: 150px;
  }

.word p{
  margin-left: 0px;
  width: 300px;
}


  .skill h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    padding: 100px 0 ;
   
  }

  .grid{
    display: grid;
   gap:10px;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 0%;
   margin-bottom: 0%;
   text-align: center;
  }

.skills{
    width: 100px;
  }

  .portfolio h2{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    padding: 100px 0 ;
   
  }

  .grids{
    display: grid;
   gap:0px;
   grid-template-columns: repeat(auto-fit,minimax(240px,1fr));
   /* grid-template-rows:1fr; */
   margin-top: 0%;
   margin-bottom: 0%;
   text-align: center;

  }

  .port{
    width: 400px;
  }

.item h5{
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
}

.service{
  background: white;
}

.grided{
  display: grid;
 gap:20px;
 grid-template-columns: repeat(auto-fit,minimax(240px,1fr));
 margin-top: 0%;
 margin-bottom: 0%;
 text-align: center;
 max-width: 1000px;
 margin-left: auto;
 margin-right: auto;
}


.serv{
  border-radius: 50%;
}

.itemword{
  width: 250px;
  text-align: center;
margin-left:auto ;
margin-right: auto;
padding-left:0;
}

.contact{
  background: #f9f9f9;
}

/* フォーム */
form div{
  margin-bottom: 14px;
}

label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
  margin-left: 100px;
}

input[type="text"],
input[type="email"],
textarea{
  background: rgba(255, 255, 255, .5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin-left: 100px;
}

input[type="text"],
input[type="email"]{
  width: 100%;
  max-width: 240px;
}

textarea{
  width: 100%;
  max-width: 480px;
  height:6rem;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}

.button{
  background-color: skyblue;
  width: 200px;
  height: 50px;
  margin-left: 100px;
  border-radius: 5px;
  color: #fff;
}
.button:hover{
  opacity: 0.5;
}

footer{
  background-color: #696969;
  height: 100px;
  text-align: center;
  margin-top: 50px;
 
}

footer p{
  padding-top: 40px;
  color: #fff;
}

/* .wrap{
  overflow: hidden; */

/* @media(max-width:600px)
{
  .topword{
    font-size: 5px;
    flex-direction: column;
    max-width: 600px;
  }

  body{
    max-width: 600px;

  }

/* ヘッダー */

/* 
ul{
  font-size: 10px;
  margin-top: 10px;  
}

li{
  margin: 0 20px;
  overflow: hidden;
}

header{ */
  /* flex-direction: column; */
  /* align-items: center;
}
.profimage{
  flex-direction: column;
}

.word{
  margin-left: 0;
  margin-top: 40px;
}


.grided{
   display: grid;
 gap:80px;
 grid-template-columns: repeat(auto-fit,minimax(240px,1fr));
 margin-top: 0%;
 margin-bottom: 0%;
max-width: 1000px;
} 


#message{
  width: 250px;
}
 */


}

 */
